@media only screen and (max-width: 1330px) {
    .wwb-content, .wpb-content{
        width: 70%;
    }
    .work-pride-block .aside-left, .work-works-block .aside-left{
        width: 30%;
    }
}
@media only screen and (max-width: 1280px) {
    .work-works-block .aside-left ul {
        padding-left: 17px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .work-works-block .content-facebook {
        margin: 0 0 0 72px;
    }
    .thirty-three{
        width: 50%;
    }
    .wpb-content .c-text{
        padding-right: 17px;
    }

}
@media only screen and (max-width: 1023px) {
    footer {
        padding: 70px 30px 50px 30px;
    }

    .f-privacy-links a {
        font-size: 18px;
        line-height: 26px;
    }

    .team-block-item img {
        max-width: 80%;
        max-height: 40%;
    }
    .wpb-content .c-text{
        padding-left: 17px;
    }
    .wwb-content, .wpb-content,
    .work-pride-block .aside-left, .work-works-block .aside-left{
        width: 100%;
    }
    .work-pride-block h1{
        margin-left: 15px;
    }
    .work-works-block .aside-left{
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        justify-content: space-around;
        -webkit-justify-content: space-around;
    }

    .work-works-block aside > div{
        width: 32%;
    }

    .work-works-block .aside-left ul {
        padding-top: 10px;
    }
    .wwb-content{
        margin-top: 0;
    }
    .work-works-block{
        flex-direction: column;
        -webkit-flex-direction: column;
    }
    .work-works-block .content-facebook{
         display: none;
    }
    .pgb-form .cdfb-wrapper{
        width: 100%;
    }
    .pgb-form input, .pgb-form textarea{
        width: calc(100% - 226px);
    }
}
@media only screen and (max-width: 900px) {
    .csb-list-wrapper{
        width: 50%;
    }
    .csb-list-wrapper:nth-child(odd) {
        padding-left: 17px;
        padding-right: 5px;
        box-sizing: border-box;
    }
    .csb-list-wrapper:nth-child(even){
        padding-left: 5px;
        padding-right: 17px;
        box-sizing: border-box;
    }
    .h-top-menu-link {
        font-size: 28px;
        max-width: 100%;
        box-sizing: border-box;
        white-space: normal;
    }

    .mobile-menu-btn {
        display: block;
    }

    .header-loader + .h-top-menu,
    .h-top-menu {
        height: 0;
        position: absolute;
        top: 84px;
        display: flex;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        justify-content: center;
        -webkit-justify-content: center;
        width: 100%;
        float: left;
        box-sizing: border-box;
        margin: 0;
        background: #FFFFFF;
        overflow-y: auto;
        transition: height 0.5s ease-in-out 0s;
        -webkit-transition: height 0.5s ease-in-out 0s;
    }
    .h-top-menu.in {
        position: relative;
        top: 0;
    }

    .header-loader.opened + .h-top-menu,
    .h-top-menu {
        height: calc(100vh - 84px);
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
    }

    .h-top-menu-item {
        width: 100%;
        margin: 0;
        padding: 5px 17px;
        overflow: visible;
    }

    .h-top-menu-second-level {
        display: block;
        box-shadow: none;
        opacity: 1;
        position: static;
    }

    .h-top-menu-item:hover {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .header-loader {
        position: absolute;
        right: 0;
        top: 0;
    }

    header.fixed {
        position: fixed;
        left: 0;
        top: 0;
    }

    header.fixed + .page-content-wrapper {
        margin-top: 84px;
    }

    header.fixed .header-loader + .h-top-menu,
    .h-top-menu {
        top: 84px;
    }

    header.fixed .header-loader.opened + .h-top-menu,
    .h-top-menu {
        border-top: 0;
    }
}
@media only screen and (max-width: 767px) {
    .logos-block-item-wrapper{
        width: 50%;
    }
    .f-column{
        width: 25%;
    }

    /*.f-column:nth-child(3) {
        clear: both;
    }*/

    footer {
        padding: 30px 32px 25px 32px;
    }

    /*.footer-logo-wrapper {
        bottom: -80px;
        top: auto;
    }*/

    .th-slider-text {
        padding-right: 100px;
    }

    .logos-block-item-wrapper.box-square:before {
        padding-top: 40%;
    }

    .content-facebook, .atb-facebook{
        /* display: none; */
    }
    .atb-photo-name, .atb-photo-post,
    .acb-client-cnt, .acb-h4, .c-text,
    .ppb-aside-text, .portfolio-h3,
    .psb-clients, .aside-left h1, .psb-content h1,
    .pb-content{
        padding-left: 17px;
        padding-right: 17px;
    }
    .pb-h2{
        padding-bottom: 40px
    }

    .fb-content{
        padding-right: 0;
    }
    .about-client-block{
        padding: 0 0 60px 0;
    }
    .contact-h2{
        font-size: 23px;
        text-align: center;
    }
    .contact-data-form-block form, .contact-h2{
        margin-left: auto;
        margin-right: auto;
    }
    .process-block-text p{
        padding: 20px 20px 0 20px;
    }
    .pwb-content .twenty-five{
        width: 50%;
    }

    .content, .afb-image-wrapper, .contact-data-form-block,
    .aside-left, .wb-aside-left{
        width: 100%;
    }
    .portfolio-second-block h3, .portfolio-second-block h1{
        margin-left: 0;
        text-align: center;
        padding-left: 17px;
        padding-right: 17px;
        box-sizing: border-box;
    }
    .ppb-content{
        margin-top: 20px;
    }
    .portfolio-3D-animation-block h3, .portfolio-landing-page-block h3{
        padding: 20px 17px 20px 17px ;
        box-sizing: border-box;
    }
    .portfolio-landing-page-block{
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
    }
    .pgb-form .cdfb-wrapper{
        display: flex;
        display: -webkit-flex;
    }
    .pgb-form label{
        width: 40%;
        float: left;
        margin: 0;
    }
    .pgb-form input, .pgb-form textarea{
        float: right;
        width: 60%;
    }
    .portfolio-landing-page-block .aside-left:last-child{
        height: 65px;
        position: relative;
    }
    .aside-left h1{
        margin-left: 0;
        margin-top: 40px;
    }

    html.touch-device .map-wrapper{
        padding-left: 40px;
        padding-right: 40px;
        box-sizing: border-box;
    }
    .wbb-h3-wrapper{
        display: -webkit-flex;
        display:flex;
        -webkit-justify-content:center;
        justify-content:center;
        -webkit-align-items:center;
        align-items:center;
        width: 60%;
        min-height: 104px;
        float: right;
    }
    .wbb-h3{

        /*word-break: break-all;*/
        font-size: 22px;
    }
    .wbb-item-text{
        width: 100%;
        font-size: 20px;
    }
    .kwadrat{
        position: relative;
    }
    .h-top-menu-item{
        margin-right: 25px;
    }
}

@media only screen and (max-width: 639px) {
    .logo {
        margin-left: 17px;
        padding: 0;
    }

    .h-top-menu-link {
        font-size: 28px;
        max-width: 100%;
        box-sizing: border-box;
        white-space: normal;
    }

    .mobile-menu-btn {
        display: block;
    }

    .header-loader + .h-top-menu {
        height: 0;
        position: absolute;
        top: 84px;
        display: flex;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        justify-content: center;
        -webkit-justify-content: center;
        width: 100%;
        float: left;
        box-sizing: border-box;
        margin: 0;
        background: #FFFFFF;
        overflow-y: auto;
        transition: height 0.5s ease-in-out 0s;
        -webkit-transition: height 0.5s ease-in-out 0s;
    }

    .header-loader.opened + .h-top-menu {
        height: calc(100vh - 84px);
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
    }

    .h-top-menu-item {
        width: 100%;
        margin: 0;
        padding: 5px 17px;
        text-align: center;
        overflow: visible;
    }

    .h-top-menu-second-level {
        display: block;
        box-shadow: none;
        opacity: 1;
        position: static;
    }

    .h-top-menu-item:hover {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .header-loader {
        position: absolute;
        right: 0;
        top: 0;
    }

    header.fixed {
        position: fixed;
        left: 0;
        top: 0;
    }

    header.fixed + .page-content-wrapper {
        margin-top: 84px;
    }

    header.fixed .header-loader + .h-top-menu {
        top: 84px;
    }

    header.fixed .header-loader.opened + .h-top-menu {
        border-top: 0;
    }

    .slick-dots {
        bottom: 20px;
        right: 0;
        left: 0;
    }
    .th-slider-item-text-block {
        color: #FFFFFF;
        max-width: calc(100% - 84px);
        position: absolute;
        left: 17px;
        top: 40px;
        bottom: 40px;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        -webkit-align-items: center;
        margin: auto 0 auto 20px;
    }
    .blue-gradient-wrapper{
        height: 100%;
    }
    .th-slider-text,
    .team-block-header,
    .team-block-face-wrapper,
    .team-block-terminal-wrapper {
        display: none;
    }
    .team-block-text {
        padding: 100px 35px;
    }
    .pb-image {
        width: 100%;
    }
    .pb-image:first-child {
        margin-bottom: 40px;
    }
    .square-box{
        width: 100% !important;
    }
    .fifty span:first-child, .rectangle span:first-child, .twenty-five span:first-child{
        font-size: 20px;
    }
    .fifty span:last-child, .rectangle span:last-child, .twenty-five span:last-child {
        font-size: 14px;
    }
    .square-box:last-child{
        margin-bottom: 40px;
    }
    .square-box:last-child:before{
        padding-top: 40%;
    }
    .atb-photo, .acb-list-wrapper{
        width: 50%;
    }

    .font-size, .font-size-smaller {
        font-size: 20px;
    }
    .contact-data-form-block form, .contact-h2{
        width: 90%;
        max-width: 475px;
    }
    .pb-h2{
        padding-bottom: 0;
    }
    .fb-text, .pb-image-wrapper, .acb-text, .atb-text,
    .acb-list-wrapper, .c-text, .cmd-map, .contact-h2 { /*.atb-photo:last-child{*/
        margin-top: 40px;
    }
    .atb-photo:last-child{
        margin-bottom: 0;
    }
    .fb-text:last-child{
        margin: 40px 0 40px 0;
    }
    .csb-wrapper{
        margin: 20px 0 0 0;
    }
    .contact-data-form-block, .afb-text {
        margin-bottom: 40px;
    }
    .work-process-block{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .team-block{
        margin-bottom: 17px;
    }
    .team-block-content, .team-block-link-wrapper{
        width: 50%;
    }
    .team-block-link-wrapper span{
        padding: 0 35px;
    }

    .about-client-block{
        padding-bottom: 40px;
    }
    .work-process-block .team-block-text{
        padding-left: 40px;
        padding-right: 40px;
    }

    .work-works-block .aside-left > div {
        width: 100%;
    }
    .pgb-form label, .pgb-form input, .pgb-form textarea{
        width: 100%;
    }
    .pgb-form input, .pgb-form textarea{
        margin-top: 5px;
    }
    .pgb-form label{
        line-height: 125%;
    }
    .pgb-form .cdfb-wrapper{
        flex-wrap: wrap;
        padding: 8px 5px;
    }
    .pgb-white-line-wrapper{
        margin-top: 5px;
        margin-bottom: 5px;
        padding-top: 20px;
    }
    .wpb-title-wrapper{
        display: block;
    }
    .work-works-block .aside-left ul{
        padding-bottom: 20px;
    }

    footer{
        padding-bottom:200px;
    }
    .footer-content{
        display:flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
    }
    .footer-logo-wrapper {
        bottom: -150px;
        top: auto;
    }
    .f-column{
        width: 100%;
        margin-bottom: 40px;
        float:none;
    }
    .f-column:first-child{
        order:3;
    }
    .f-column:last-child {
        order:  -1;
    }
    .f-privacy-wrapper{
        right: initial;
        bottom: -40px;
        left: 0;
    }
    .footer__nav.nav .h-top-menu-item {
        padding: 0;
        text-align: left;
    }
}

@media only screen and (min-width: 471px) {
    .h-top-menu {
        display: flex !important;
        display: -webkit-flex !important;
    }

}

@media only screen and (max-width: 470px) {
    .logos-block-item-wrapper {
        width: 100%;
    }
    .atb-photo, .atb-photo:last-child{
        width: 100%;
        margin: 30px 0 0 0;
    }
    .acb-client-cnt{
        margin: 0;
    }
    .acb-list-wrapper{
        width: 100%;
    }

    .acb-list-wrapper:nth-child(3) .acb-h4{
        display: none;
    }
    .portfolio-first-block{
        height: 200px;
    }
    .wrb-slider-title, .wrb-slider-text{
        padding-left: 40px;
        padding-right: 40px;
    }
    .work-reasons-block h2{
        padding-left: 35px;
    }
    .wbb-h3-wrapper{
        width: 50%;
    }
    .wbb-h3{
        font-size: 18px;
    }
    .team-block-text{
        padding: 100px 10px;
    }
    .team-block-link-wrapper span{
        padding: 0 10px;
    }
}


@media only screen and (max-width: 425px) {
    .pb-image:first-child,
    .pb-image:last-child {
        float: none;
        padding: 0 15px;
    }
    .pb-image {
        width: 100%;
        margin-top: 20px;
    }
    /*.team-block {*/
        /*display: block;*/
    /*}*/
    /*.team-block .box-square {*/
        /*display: none;*/
    /*}*/
    /*.team-block-text,*/
    /*.team-block-link-wrapper {*/
        /*padding: 30px 70px;*/
    /*}*/
    /*.team-block-link-wrapper,*/
    /*.team-block-content {*/
        /*width: 100%;*/
        /*background: #000;*/
        /*color: #fff;*/
    /*}*/
    /*.team-block-link-wrapper a {*/
        /*color: #fff;*/
        /*border-bottom: 1px solid #fff;*/
    /*}*/
    .f-column {
        width: 100%;
        margin-bottom: 50px;
    }
    .footer__nav.nav .h-top-menu-item {
        padding: 0;
        text-align: left;
    }
}

@media only screen and (max-width: 380px) {
    .f-column {
        width: 100%;
    }
    .f-address {
        margin-bottom: 25px;
    }
    .work-process-block .team-block-text{
        padding-left: 20px;
        padding-right: 20px;
    }
    .psb-image-wrapper:nth-child(even){
        margin-right: 0;
    }
    .psb-image-wrapper:nth-child(odd){
        margin-left: 0;
    }
    .psb-clients{
        justify-content: center;
    }
}
