.modal {
  button.close {
    top: 50px;
    right: 50px;
    position: absolute;
    color: #fff;
    opacity: 1;
    font-size: 48px;
    width: 24px;
    height: 24px;
    &:after {
      display: none;
    }
    svg {
      fill: #fff;
      &:hover {
        fill: #0390EA;
      }
    }
    &:hover {
      color: #0390ea;
    }
  }

  &-dialog {
    max-width: 768px;
    width: 90%;
    height: 50%;
    margin: 15% auto 0;

    .modal-content {
      border: none;
      border-radius: 0;
      background: transparent;
      height: 100%;


      .modal-body {
        padding: 5px;
        height: 100%;
        width: 100%;
        iframe {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
.uk-modal {
  background: rgba(0,0,0,0.9);
  overflow-y: hidden!important;
  &-close {
    top: 50px;
    right: 50px;
    position: absolute;
    color: #fff;
    opacity: 1;
    font-size: 48px;
    width: 24px;
    height: 24px;
    z-index: 999999999999999999999999999999;
    @media (max-width: 425px) {
      width: 50px;
      height: 50px;
    }
    &:after {
      display: none;
    }
    svg {
      fill: #fff;
      &:hover {
        fill: #0390EA;
      }
    }
    &:hover {
      color: #0390ea;
    }
  }
  &-dialog {
    padding: 0;
    width: 70%;
    background: transparent;
    border: none;
    .uk-grid>* {
      padding-left: 2px;
    }
    .uk-slidenav-position {
      .uk-slidenav:hover:after {
        content: none;
      }
    }
  }
  .uk-slidenavy {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    color: #fff;
    box-sizing: border-box;
    width: 50px;
    height: 100%;
    line-height: 60px;
    font-size: 60px;
    text-align: center;
    svg {
      fill: #fff;
      top: 0;
      bottom: 0;
      margin: auto;
      position: absolute;
      &:hover {
        fill: #0390EA;
      }
    }
    &-previous {
      left: 0;
      svg {
        left: 10px;
      }
    }
    &-next {
      right: 0;
      svg{
        right: 10px;
      }
    }
    &:after {
      display: none;
    }
  }
}
#view360Block0,
#view360Block1,
#view360Block2,
#view360Block3,
#view360Block4,
#view360Block5,
#view360Block6,
#view360Block7,
#view360Block8,
#view360Block9,
#view360Block10 {
  height: 100%;
  min-height: 350px;
  @media (max-width: 425px) {
    max-height: 50vh!important;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}
div#modalVideoCaseITSS {
  background: rgba(0, 0, 0, 0.9);
}
.uk-cover-background {
  background-size: contain;
  max-height: 90vh;
}