//input::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
//input::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
//input:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
//input:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
input:focus::-webkit-input-placeholder {color: #ffffff;}
input:focus::-moz-placeholder          {color: #ffffff;}
input:focus:-moz-placeholder           {color: #ffffff;}
input:focus:-ms-input-placeholder      {color: #ffffff;}

input.false:focus::-webkit-input-placeholder {color: #ffffff;}
input.false:focus::-moz-placeholder          {color: #ffffff;}
input.false:focus:-moz-placeholder           {color: #ffffff;}
input.false:focus:-ms-input-placeholder      {color: #ffffff;}

input.false::-webkit-input-placeholder {color: #d0031c;}
input.false::-moz-placeholder          {color: #d0031c;}
input.false:-moz-placeholder           {color: #d0031c;}
input.false:-ms-input-placeholder      {color: #d0031c;}

input:focus::-webkit-input-placeholder       {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder                {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder                 {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder            {opacity: 0; transition: opacity 0.3s ease;}

textarea:focus::-webkit-input-placeholder       {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-moz-placeholder                {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-moz-placeholder                 {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-ms-input-placeholder            {opacity: 0; transition: opacity 0.3s ease;}

textarea:focus::-webkit-input-placeholder {color: #ffffff;}
textarea:focus::-moz-placeholder          {color: #ffffff;}
textarea:focus:-moz-placeholder           {color: #ffffff;}
textarea:focus:-ms-input-placeholder      {color: #ffffff;}

textarea.false:focus::-webkit-input-placeholder {color: #ffffff;}
textarea.false:focus::-moz-placeholder          {color: #ffffff;}
textarea.false:focus:-moz-placeholder           {color: #ffffff;}
textarea.false:focus:-ms-input-placeholder      {color: #ffffff;}

textarea.false::-webkit-input-placeholder {color: #d0031c;}
textarea.false::-moz-placeholder          {color: #d0031c;}
textarea.false:-moz-placeholder           {color: #d0031c;}
textarea.false:-ms-input-placeholder      {color: #d0031c;}

input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  border : 0px;
}

input,
textarea,
input[type="submit"]:focus,
input[type="button"]:focus {
  outline : none;
}